*.swp
*.pdf
*.key
*.pyc
*.DS_Store
MANIFEST
PKG-INFO
*.egg-info
dist/*
*prof*
.*
AMI_Models
Simbeor
pz_test.py
EDN_Article
User_Issues
*.csv
DFE_Pulse_Shaper.ipynb
*.dat
pybert/cached_property_test.py
pybert/encoder.py
pybert/lfsr.py
pybert/status_bar_demo.py
pybert/tags


