[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
setuptools = "*"
numpy = "*"
fonttools = "*"
cython = "*"
pillow = "*"
traits = "*"
kiwisolver = "*"
pyside2 = "*"
pyibis-ami = {editable = true,path = "./PyAMI"}
enable = {path = "./enable"}
chaco = {path = "./chaco"}
pybert = {path = "."}

[requires]
python_version = "3.7"
