# Install with `pip install -r requirements-dev.txt`

# Developer tooling
autoflake
black
build
isort
pytest
pytest-cov
pytest-xdist
pylint
pre-commit
mypy
tox

# Documentation tooling
sphinx
m2r

# Type Stubs
types-PyYAML
