-i https://pypi.org/simple
-e ./PyAMI
.
certifi==2019.6.16
chardet==3.0.4
click==7.0
cycler==0.10.0
cython==0.29.12
empy==3.3.4
fonttools==3.43.2
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.16.4
parsec==3.4
pillow==6.2.0
pyface==6.1.1
pyparsing==2.4.0
pyside2==5.13.0
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.0
shiboken2==5.13.0
six==1.12.0
traits==5.1.2
traitsui==6.1.1
urllib3==1.25.3
git+https://github.com/enthought/chaco.git@ebd7ae81ef761046c9df6d7f5ced19a1004a1413#egg=chaco
git+https://github.com/enthought/enable.git@4.8.0#egg=enable
